name: Deploy VPC

on:
  push: 
    branches: 
       - main
       - dev
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select environment'
        required: true
        type: choice
        options:
          - dev
          - prod
      destroy:
        description: 'Set to true to destroy resources'
        required: false
        default: false
        type: boolean

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        
      - name: Terraform Init (Reconfigure Backend)
        run: |
          terraform init -reconfigure \
            -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}" \
            -backend-config="key=terraform/${{ inputs.environment }}.tfstate" \
            -backend-config="region=${{ secrets.AWS_REGION }}" \
            -backend-config="encrypt=true"

      - name: Terraform Plan
        run: terraform plan -var-file=${{ inputs.environment }}.tfvars

      - name: Terraform Apply/Destroy
        run: |
          if [ "${{ inputs.destroy }}" = "true" ]; then
            terraform destroy -auto-approve -var-file=${{ inputs.environment }}.tfvars
          else
            terraform apply -auto-approve -var-file=${{ inputs.environment }}.tfvars
          fi
