name: Deploy VPC

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select environment'
        required: true
        type: choice
        options:
          - dev
          - prod
      destroy:
        description: 'Set to true to destroy resources'
        required: false
        default: 'false'
        type: boolean

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Debug OIDC
        run: |
          echo "GITHUB_REPOSITORY=$GITHUB_REPOSITORY"
          echo "GITHUB_REF=$GITHUB_REF"
      - name: Verify AWS identity
         run: aws sts get-caller-identity

      # Configure AWS credentials via OIDC role
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Debug backend inputs
        run: |
          echo "TF_STATE_BUCKET length: ${#TF_STATE_BUCKET}"
          echo "AWS_REGION length: ${#AWS_REGION}"
        env:
          TF_STATE_BUCKET: ${{ secrets.TF_STATE_BUCKET }}
          AWS_REGION: ${{ secrets.AWS_REGION }}

          

      # Terraform Init
      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}" \
            -backend-config="key=terraform/${{ inputs.environment }}.tfstate" \
            -backend-config="region=${{ secrets.AWS_REGION }}"

      # Terraform Plan
      - name: Terraform Plan
        run: terraform plan -var-file=${{ inputs.environment }}.tfvars

      # Terraform Apply or Destroy
      - name: Terraform Apply/Destroy
        run: |
          if [ "${{ inputs.destroy }}" = "true" ]; then
            echo "Destroying resources..."
            terraform destroy -auto-approve -var-file=${{ inputs.environment }}.tfvars
          else
            echo "Applying resources..."
            terraform apply -auto-approve -var-file=${{ inputs.environment }}.tfvars
          fi
