name: Deploy VPC

on:
  push:
    branches:
      - main
      - dev

  workflow_dispatch:
    inputs:
      environment:
        description: Select environment
        required: true
        type: choice
        options:
          - incedo-infra
          - prod
      destroy:
        description: Destroy resources
        required: false
        default: false
        type: boolean

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment: >
      ${{
        github.event_name == 'workflow_dispatch' && inputs.environment ||
        github.ref == 'refs/heads/main' && 'prod' ||
        github.ref == 'refs/heads/dev' && 'incedo-infra'
      }}

    env:
      AWS_REGION: ${{ vars.AWS_REGION }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          terraform init -reconfigure \
            -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}" \
            -backend-config="key=terraform/${{ github.environment }}.tfstate" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="encrypt=true"

      - name: Terraform Plan
        run: terraform plan -var-file=${{ github.environment }}.tfvars

      - name: Terraform Apply / Destroy
        run: |
          if [ "${{ github.event.inputs.destroy }}" = "true" ]; then
            terraform destroy -auto-approve -var-file=${{ github.environment }}.tfvars
          else
            terraform apply -auto-approve -var-file=${{ github.environment }}.tfvars
          fi
